body {
  background: rgb(250, 250, 200);
}

.tera {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 40vw;
  height: 70vh;
  padding: 20px;
  overflow-y: scroll;
  color: yellowgreen;
  background: black;
  font-size: 13px;
  font-family: monospace;
  font-weight: bold;
}
