<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- prettier-ignore -->
    <link rel="stylesheet" href={{get_url(path="main.css")}} />
    <title>ZolExp</title>
  </head>
  <body class="body">
    <nav>
      <ul>
        <li>
          <a class="link" href="{{ get_url(path='@/_index.md', lang=lang) }}"
            >(home)</a
          >
        </li>
        <li>
          <a
            class="link"
            href="{{ get_url(path='@/blog/_index.md', lang=lang) }}"
            >Blog</a
          >
        </li>
      </ul>
    </nav>
    <p>This is a part from base.html</p>

    <h2>Links to translations:</h2>
    <ul>
      {% for language, v in config.languages %}
      <li>
        <a href="{{ get_url(path='@/_index.md', lang=language) }}">
          {{ language }}</a
        >
      </li>
      {% endfor %}
    </ul>

    <main class="main">{% block content %} {% endblock %}</main>

    {# tera #}
    <hr />
    <pre data-lang="json" class="tera">{{ __tera_context }}</pre>
  </body>
</html>
